$font: "Krona One", sans-serif;
$element-color: rgb(39, 42, 43);

.Header{
  position: fixed;
  top: 0;
  background-color: $element-color;
  width: 100vw;
  height: 50px;
  border-bottom: white solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  .links-container{
    display: flex;
    justify-content: space-between;
    
    .nav-link{
      text-decoration: none;
      font-family: $font;
      color: white;
      font-size: 15px;
      margin-right: 25px;
    }
    .active-tab{
      border-bottom: 5px white solid; ;
    }
  }
  .burger{
    display: none;
    cursor: pointer;
    .line{
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20%;
  }
}
  .title{
    margin: 0;
    text-decoration: none;
    font-family: $font;
    color: white;
    font-size: 45px;
    margin-left: 50px;
    letter-spacing: 15px;
  }
}

@media all and(max-width:1000px){
  .Header{

    nav{
      display: flex;
      align-items: center;
      margin-right: 50px;
    }
    .links-container{
      background-color: $element-color;
      height: 220px;
      width: 220px;
      position: absolute;
      top: 50px;
      right: 0px;
      flex-direction: column;
      text-align: center;
      border-bottom:white solid ;
      border-left: white solid;
      display: none;
      .active-tab{
        border-bottom: none
      }
    }
    .burger{
      margin-right: 50px;
      display: block;
      z-index: 1;
      .line{
      background-color: white;
      width: 25px;
      height: 3px;
      margin: 5px;
      border-radius: 100%;
    }
  }
  }
}